<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top site-header">
   <a class="navbar-brand" th:href="@{/listado}">EmpleosApp</a>

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     <ul class="navbar-nav mr-auto">
     	
       <li class="nav-item">
         <a class="nav-link active" th:href="@{/vacantes/index}">Vacantes</a>
       </li>
       
       <li class="nav-item">
         <a class="nav-link active" th:href="@{/categorias/index}">Categorias</a>
       </li>
       
       <li class="nav-item">
         <a class="nav-link active" th:href="@{/usuarios/index}">Usuarios</a>
       </li>
  
       <li class="nav-item">
         <a class="nav-link" href="#">Este no jala xD</a>
       </li>          
     </ul>  
     <a class="btn btn-primary" href="#">Ingresar</a>&nbsp;
     <a class="btn btn-primary" th:href="@{/registro/usuario}">Registrarse</a>
   </div>
</nav>