<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">	
</head>
<body>

	<image th:src="@{image/listatrabajo.jpg}" width="200" height="200">
	<h1 class="text-success" style="text-align: center;">Tabla con listado de vacantes</h1>
	
	<table class="table table-bordered table-hover ">
		<tr class="bg-success">
			<td>id</td>
			<td>nombre</td>
			<td>imagen</td>
			<td>descripcion</td>
			<td>fecha</td>
			<td>salario</td>
			<td>Destacado</td>
			<td>Detalles</td>
			<td>Borrar</td>
		</tr>
		
		<tr th:Each= "datosTabla: ${despliegaListaVacantes}">
			
			<td th:text="${datosTabla.id}">id</td>
			<td>
				<img th:src="@{image/{img} (img=${datosTabla.imagen}) }" width="80" height="80">
			</td>
			<td th:text="${datosTabla.nombre}">nombre</td>
			<td th:text="${datosTabla.descripcion}">descripcion</td>
			<td th:text="${datosTabla.fecha}">salario</td>
			<td th:text="${datosTabla.salario}">fecha</td>
			
<!-- 			<td th:text="${datosTabla.destacado}">fecha</td> -->
<!-- 			<td th:text="${datosTabla.destacado == 0 ? 'Si' : 'No'}"> </td> -->
			
			<td>
				<span th:if="${datosTabla.destacado == 1}" class="badge badge-success" >Si</span>
				<span th:unless="${datosTabla.destacado == 1}" class="badge badge-danger">No</span>
			</td>
			<td>
				<a th:href="@{/vacantes/view/{id} (id=${datosTabla.id}) }" class="btn btn-success" >Detalles</a>
			</td>
			
			<td>
				<a th:href="@{/vacantes/delete(id=${datosTabla.id}) }" class="btn btn-danger">Borrar</a>
			</td>
	</table>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>