
/*estilos para la tabla*/
table th {
    background-color: #337ab7 !important;
    color: white !important;
}
table>tbody>tr>td {
    vertical-align: middle !important;
}

/*para alinear los botones y cuadro de busqueda*/
div.dt-buttons {
    position: absolute !important;   
}
#line {
	height: .5px;
  	margin-top: 35px;
}
/*boton agregar*/
a.btn.btn-warning {
	position:absolute; 
	top: 60px;
  	right: 20px;
  	color: #ffffff;
	background-color: green;
	padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 3px double green;
}