<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1 th:text=" 'el idVacante es: ' + ${id}"></h1>
	
</body>
</html>