<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="description" content="">
    	<meta name="author" content="">
    	<link rel="icon" href="favicon.ico">

	    <title>EmpleosApp | Listado de Ofertas de Trabajo</title>
	    	    <!-- Bootstrap core CSS -->
	    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/bootstrap/css/tables.css}" rel="stylesheet">
	    	    <!-- database table -->	  
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
	    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet">
	    	    <!-- Custom styles for this template -->
	    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
	    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">    
	    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
	    <!-- Buttons table -->
	    <!-- <link href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" rel="stylesheet">-->
	    
  </head>

  <body>
    <!-- 	encabezado  -->
	<header th:insert="fragments/menu :: menu-principal">Menu</header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Ofertas de Trabajo</strong></h4>             
          <div class="card-body">
            <a class="btn btn-warning" th:href="@{/vacantes/create}" title="Crear nueva Oferta de Trabajo" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>            
            <hr id="line">
           <div th:if="${message != null}" class='alert alert-success' th:text="${message}" role='alert'>Mensaje Exitoso</div>
            <table class="table table-hover" id="ejemplo">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Categoría</th>
                  <th scope="col">Nombre</th>                  
                  <th scope="col">Fecha Pub.</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Destacada</th>
                  <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="recuperaVac: ${recuperaVacantes} ">
                  <td th:text="${recuperaVac.categoria.nombre}"> Categoria </td>
                  <td th:text="${recuperaVac.nombre}">Nombre</td>
                  <td th:text="${recuperaVac.fecha}">Fecha</td>
                  <td th:text="${recuperaVac.estatus}">Estatus</td>
                  <td th:text="${recuperaVac.destacado} == 1 ? 'si' : 'no' ">Destacado</td>
                  
                  <td>
                    <a th:href="@{/vacantes/editar/{id} (id=${recuperaVac.id})}" class="btn btn-success btn-sm" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a th:href="@{/vacantes/delete/{id} (id=${recuperaVac.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </td>
                  
                </tr>                           
              </tbody>
            </table>     
                  
          </div>
        </div>
      </div> <!-- /container -->
    </main>
    
    <!-- 	pie de pagina 	 -->
    <footer th:insert="fragments/footer.html :: pie-pagina" class="footer">PiePagina</footer>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>  
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script> 
    <!-- datatables -->
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script> 
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>  
     <!-- Buttons PDF, EXCEL, PRINT -->
	<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script> 
     
<!--  JavaScript Para Paginacion -->
	<script type="text/javascript">
	$(document).ready(function() {    
	    $('#ejemplo').DataTable({        
	        language: {
	                "lengthMenu": "Mostrar _MENU_ registros",
	                "zeroRecords": "No se encontraron resultados",
	                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
	                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
	                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
	                "sSearch": "Buscar:",
	                "oPaginate": {
	                    "sFirst": "Primero",
	                    "sLast":"Último",
	                    "sNext":"Siguiente",
	                    "sPrevious": "Anterior"
				     },
				     "sProcessing":"Procesando...",
	            },
	        //para usar los botones   
	        responsive: "true",
	        dom: 'Bfrtilp',       
	        buttons:[ 
				{
					extend:    'excelHtml5',
					text:      '<i class="fas fa-file-excel"></i> ',
					titleAttr: 'Exportar a Excel',
					className: 'btn btn-success'
				},
				{
					extend:    'pdfHtml5',
					text:      '<i class="fas fa-file-pdf"></i> ',
					titleAttr: 'Exportar a PDF',
					className: 'btn btn-danger'
				},
				{
					extend:    'print',
					text:      '<i class="fa fa-print"></i> ',
					titleAttr: 'Imprimir',
					className: 'btn btn-info'
				},
			]	        
	    });     
	});
	</script>   
  </body>
</html>